h1 {
}
body {
    background-color: black;
    font-family: "OCR A Extended", fantasy;
    line-height: 1.6em;
    text-align: center;
}

header {
    background-color: black;
    font-family: "OCR A Extended", fantasy;
    padding: 20px;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    justify-content: center;
}

nav li {
    margin-right: 10px;
    display: inline-block;
}

nav a {
    font-family: "OCR A Extended", fantasy;
    font-size: 20px;
    text-decoration: none;
    color: mediumpurple;
    border: 1px solid black;
}

nav a:hover {
    border: 1px solid mediumpurple;
}

nav a:active {
    border: none;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.image-container {
    display: inline-block;
}

.image-container img {
    display: inline-block;
    height: auto;
}

.image-container a {
    padding: 3px;
    display: inline-block;
    border: 3px solid black;
    transition: border 0.2s ease-in-out;
    position: relative;
    height: auto;
    overflow: hidden;
}

.detail-button {
    background-color: black;
    cursor: pointer;
}

.image-container a:hover {
    border: 3px solid mediumpurple;
}

.details {
    display: none;
    color: mediumpurple;
}
